.lagon {
    background-image: linear-gradient(90deg, #3be69f 0%, #00b4c5 100%);
}
.sulfur {
    background-image: linear-gradient(90deg, #cac531 0%, #f3f9a7 100%);
}
.starfall {
    background-image: linear-gradient(90deg, #c99343 0%, #5f6aa5 100%);
}
.orange-coral {
    background-image: linear-gradient(90deg, #ff9966 0%, #ff5e62 100%);
}
.barbapapa {
    background-image: linear-gradient(90deg, #e28dd7 0%, #e351ea 100%);
}
.cool-blues {
    background-image: linear-gradient(90deg, #2193b0 0%, #6dd5ed 100%);
}
.amethyst {
    background-image: linear-gradient(90deg, #9d50bb 0%, #6e48aa 100%);
}
.park-life {
    background-image: linear-gradient(90deg, #add100 0%, #7b920a 100%);
}
.cherryblossoms {
    background-image: linear-gradient(90deg, #fbd3e9 0%, #bb377d 100%);
}
.reef {
    background-image: linear-gradient(90deg, #00d2ff 0%, #3a7bd5 100%);
}
.candy {
    background-image: linear-gradient(90deg, #d3959b 0%, #dbbae6 100%);
}
.nelson {
    background-image: linear-gradient(90deg, #f2709c 0%, #ff9472 100%);
}
.almost {
    background-image: linear-gradient(90deg, #ddd6f3 0%, #faaca8 100%);
}
.miaka {
    background-image: linear-gradient(90deg, #fc354c 0%, #bf0a74 100%);
}
.calm-darya {
    background-image: linear-gradient(90deg, #5f2c82 0%, #9d31f1 100%);
}
.juicy-orange {
    background-image: linear-gradient(90deg, #ff8008 0%, #ffc837 100%);
}

.class-slot {
    background-color: #ff9a8b;
    box-shadow: inset 0 0 20px rgba(177, 177, 177, 0.2);
    border-radius: 5px;
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    justify-items: stretch;
    &.selected {
        position: absolute;
        top: 0;
        left: 0;
        right: 0;
        min-height: 100%;
        min-width: max-content;
        box-shadow: 0 0 15px rgba(190, 190, 190, 0.5);
        z-index: 25;
    }
}
.class-slot-uvname {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 3px 3px 0 0;
    text-wrap: nowrap;
    display: inline-block;
    text-align: left;
}
.class-slot-place {
    text-align: left;
    color: black;
    padding: 5px 10px;
}
.class-slot-time {
    color: #444;
    padding: 5px 10px;
}
