/* *********************************************************************************************************************** */
/*  UTC Header                                                                                                             */
/*                                                        ::::::::::::::::::::       :::    ::: :::::::::::  ::::::::      */
/*     Calendar.scss                                      ::::::::::::::::::::       :+:    :+:     :+:     :+:    :+:     */
/*                                                        ::::::::::::::+++#####+++  +:+    +:+     +:+     +:+            */
/*     By: branlyst <stephane.branly@etu.utc.fr>          ::+++##############+++     +:+    +:+     +:+     +:+            */
/*     https://github.com/StephaneBranly              +++##############+++::::       +#+    +:+     +#+     +#+            */
/*                                                      +++##+++::::::::::::::       +#+    +:+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       +#+    +#+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       #+#    #+#     #+#     #+#    #+#     */
/*     Update: 2022/03/01 15:19:08 by branlyst            ::::::::::::::::::::        ########      ###      ######## .fr  */
/*                                                                                                                         */
/* *********************************************************************************************************************** */

$max-rows: (21 - 7) * 4;

.calendar-fragment {
    border-radius: 40px;
    margin: 50px;
    padding: 20px;
    background: inherit;
    z-index: 10;
    position: absolute;
    overflow: hidden;
    color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.calendar-content-fragment {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}
.calendar-content {
    display: grid;
    &.complete {
        grid-template-columns: max-content repeat(14, 1fr);
    }
    &.compact {
        grid-template-columns: max-content repeat(10, 1fr);
    }
    &.day {
        grid-template-columns: max-content repeat(2, 1fr);
    }
    grid-auto-rows: 1fr;
    column-gap: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.calendar-fragment:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    background: inherit;
    z-index: 1;
}
.calendar-legend-day {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);

    &.week-a {
        border-bottom: 4px solid rgba(255, 0, 0, 0.9);
    }
    &.week-b {
        border-bottom: 4px solid rgba(0, 0, 255, 0.9);
    }
}
.calendar-fragment:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    filter: blur(10px);
    background: inherit;
    z-index: 2;
}

$max-columns: 16;

@for $i from 1 through $max-columns {
    .col-start-#{$i} {
        grid-column-start: $i;
    }
    .col-end-#{$i} {
        grid-column-end: $i;
    }
}

@for $i from 1 through $max-rows {
    .row-start-#{$i} {
        grid-row-start: $i;
    }
    .row-end-#{$i} {
        grid-row-end: $i;
    }
}

.calendar-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
}
.slot {
    font-size: xx-small;
    grid-column: 1 / -1;
    text-align: left;
    &.solid {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    &.dashed {
        border-top: 1px dashed rgba(255, 255, 255, 0.1);
    }
    &.important {
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.slot-time {
    font-size: 10px;
}
.class {
    background-color: #ff9a8b;
    background-image: linear-gradient(90deg, #3be69f 0%, #00b4c5 100%);
    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);
    border-radius: 10px;
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
}
.class-uvname {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 3px;
    display: inline-block;
}
.class-place {
    text-align: left;
    padding: 5px;
    color: black;
}
.calendar-mode-selector {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 11;

    &.active {
        text-decoration: underline;
    }
}
.calendar-mode-selector:hover {
    cursor: pointer;
}
@media (max-width: 480px) {
    .calendar-fragment {
        padding: 5px;
        margin: 5px;
        font-size: xx-small;
        border-radius: 10px;
    }
}
