/* *********************************************************************************************************************** */
/*  UTC Header                                                                                                             */
/*                                                        ::::::::::::::::::::       :::    ::: :::::::::::  ::::::::      */
/*     Calendar.scss                                      ::::::::::::::::::::       :+:    :+:     :+:     :+:    :+:     */
/*                                                        ::::::::::::::+++#####+++  +:+    +:+     +:+     +:+            */
/*     By: branlyst <stephane.branly@etu.utc.fr>          ::+++##############+++     +:+    +:+     +:+     +:+            */
/*     https://github.com/StephaneBranly              +++##############+++::::       +#+    +:+     +#+     +#+            */
/*                                                      +++##+++::::::::::::::       +#+    +:+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       +#+    +#+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       #+#    #+#     #+#     #+#    #+#     */
/*     Update: 2022/12/12 22:45:31 by branlyst            ::::::::::::::::::::        ########      ###      ######## .fr  */
/*                                                                                                                         */
/* *********************************************************************************************************************** */

$max-rows: (21 - 7) * 4;

.calendar-fragment {
    border-radius: 10px;
    margin: 50px;
    padding: 20px;
    background: inherit;
    z-index: 10;
    position: absolute;
    overflow: hidden;
    // color: white;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}

.calendar-content-fragment {
    position: relative;
    flex: 1 1 auto;
    display: flex;
    justify-content: stretch;
    align-items: stretch;
    align-content: stretch;
}
.calendar-content {
    display: grid;
    &.complete {
        grid-template-columns: max-content repeat(14, 1fr);
    }
    &.typical {
        grid-template-columns: max-content repeat(10, 1fr);
    }
    &.compact {
        grid-template-columns: max-content repeat(10, 1fr);
    }
    &.day {
        grid-template-columns: max-content repeat(2, 1fr);
    }
    grid-auto-rows: 1fr;
    column-gap: 10px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}
.calendar-fragment:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    // filter: blur(10px);
    background: inherit;
    z-index: 1;
}
.calendar-legend-day {
    border-bottom: 4px solid rgba(255, 255, 255, 0.5);

    &.week-a {
        border-bottom: 4px solid rgb(231, 46, 5);
    }
    &.week-b {
        border-bottom: 4px solid rgb(0, 11, 218);
    }
}

$max-columns: 16;

@for $i from 1 through $max-columns {
    .col-start-#{$i} {
        grid-column-start: $i;
    }
    .col-end-#{$i} {
        grid-column-end: $i;
    }
}

@for $i from 1 through $max-rows {
    .row-start-#{$i} {
        grid-row-start: $i;
    }
    .row-end-#{$i} {
        grid-row-end: $i;
    }
}

.calendar-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: space-between;
    color: white;
    
    & > div {
        display: flex;
        flex-direction: row;
        gap: 10px;
        justify-content: space-between;
    }
}

.calendar-current-date div {
    background-color: rgba(0, 0, 0, 0.5);
    padding: 5px;
    border-radius: 5px;
    z-index: 11;
    display: flex;
    align-items: center;
    align-content: center;
    justify-content: center;
}

.calendar-current-date div:hover {
    cursor: pointer;
}
.slot {
    font-size: xx-small;
    grid-column: 1 / -1;
    text-align: left;
    &.solid {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    &.dashed {
        border-top: 1px dashed rgba(255, 255, 255, 0.1);
    }
    &.important {
        border-color: rgba(0, 0, 0, 0.2);
    }
}

.slot-time {
    font-size: 10px;
}
.calendar-mode-selector {
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 5px;
    border-radius: 5px;
    z-index: 11;
    border: 0px solid rgba(255, 255, 255, 0.5);
    &.active {
        text-decoration: underline;
    }
}

.calendar-mode-selector:hover {
    cursor: pointer;
}
.calendar-background-fragment {
    position: absolute;
    background-color: rgba(0, 0, 0, 0);
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    z-index: 10;
}

.calendar-special-day {
    position: relative;
    z-index: 15;
    display: flex;
    flex-direction: column;
    overflow: hidden;
    box-sizing: border-box;
    vertical-align: middle;
    align-items: center;
    justify-content: center;

    &.Férié {
        color: white;
        background: repeating-linear-gradient(
            45deg,
            #606dbc,
            #606dbc 10px,
            #465298 10px,
            #465298 20px
        );
    }
    &.Vacances {
        color: white;
        background: repeating-linear-gradient(
            45deg,
            #222,
            #222 10px,
            #333 10px,
            #333 20px
        );
    }

    &.Finaux, &.Médians {
        background-color: rgba(156, 1, 135, 0.45);
    }
}

@media (max-width: 480px) {
    .calendar-fragment {
        padding: 5px;
        margin: 5px;
        font-size: xx-small;
        border-radius: 10px;
    }
}
