/* *********************************************************************************************************************** */
/*  UTC Header                                                                                                             */
/*                                                        ::::::::::::::::::::       :::    ::: :::::::::::  ::::::::      */
/*     Calendar.scss                                      ::::::::::::::::::::       :+:    :+:     :+:     :+:    :+:     */
/*                                                        ::::::::::::::+++#####+++  +:+    +:+     +:+     +:+            */
/*     By: branlyst <stephane.branly@etu.utc.fr>          ::+++##############+++     +:+    +:+     +:+     +:+            */
/*     https://github.com/StephaneBranly              +++##############+++::::       +#+    +:+     +#+     +#+            */
/*                                                      +++##+++::::::::::::::       +#+    +:+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       +#+    +#+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       #+#    #+#     #+#     #+#    #+#     */
/*     Update: 2022/02/25 11:29:21 by branlyst            ::::::::::::::::::::        ########      ###      ######## .fr  */
/*                                                                                                                         */
/* *********************************************************************************************************************** */

$max-rows: (21 - 7) * 4;

.calendar-fragment {
    width: 90vw;
    height: 90vh;
    border-radius: 40px;
    padding: 20px;
    background: inherit;
    z-index: 10;
    position: relative;
    overflow: hidden;
    color: white;
    grid-auto-rows: auto;
}
.calendar-content {
    display: grid;

    &.complete {
        grid-template-columns: repeat(15, 1fr);
    }
    &.compact {
        grid-template-columns: repeat(11, 1fr);
    }
    &.day {
        grid-template-columns: repeat(3, 1fr);
    }
    grid-gap: 10px;
    grid-auto-rows: autoa;
}

.calendar-fragment:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: inset 0 0 2000px rgba(255, 255, 255, 0.5);
    filter: blur(10px);
    background: inherit;
    z-index: 1;
}

.calendar-fragment:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.1);
    filter: blur(10px);
    background: inherit;
    z-index: 2;
}

$max-columns: 16;

@for $i from 1 through $max-columns {
    .col-start-#{$i} {
        grid-column-start: $i;
    }
    .col-end-#{$i} {
        grid-column-end: $i;
    }
}

@for $i from 1 through $max-rows {
    .row-start-#{$i} {
        grid-row-start: $i;
    }
    .row-end-#{$i} {
        grid-row-end: $i;
    }
}

.calendar-header {
    display: flex;
    flex-direction: row;
    gap: 10px;
    justify-content: end;
}
.day {
}

.slot {
    font-size: xx-small;
    grid-column: 1 / -1;
    text-align: left;
    &.solid {
        border-top: 1px solid rgba(255, 255, 255, 0.5);
    }

    &.dashed {
        border-top: 1px dashed rgba(255, 255, 255, 0.1);
    }
}

.slot-time {
    display: inline;
}
.class {
    background-color: #ff9a8b;
    background-image: linear-gradient(90deg, #ff9a8b 0%, #ff99ac 100%);

    box-shadow: inset 0 0 20px rgba(0, 0, 0, 0.2);

    border-radius: 10px;
    position: relative;
    z-index: 15;
}
