/* *********************************************************************************************************************** */
/*  UTC Header                                                                                                             */
/*                                                        ::::::::::::::::::::       :::    ::: :::::::::::  ::::::::      */
/*     App.css                                            ::::::::::::::::::::       :+:    :+:     :+:     :+:    :+:     */
/*                                                        ::::::::::::::+++#####+++  +:+    +:+     +:+     +:+            */
/*     By: branlyst <stephane.branly@etu.utc.fr>          ::+++##############+++     +:+    +:+     +:+     +:+            */
/*     https://github.com/StephaneBranly              +++##############+++::::       +#+    +:+     +#+     +#+            */
/*                                                      +++##+++::::::::::::::       +#+    +:+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       +#+    +#+     +#+     +#+            */
/*                                                        ::::::::::::::::::::       #+#    #+#     #+#     #+#    #+#     */
/*     Update: 2022/11/30 20:55:37 by branlyst            ::::::::::::::::::::        ########      ###      ######## .fr  */
/*                                                                                                                         */
/* *********************************************************************************************************************** */

.App {
    text-align: center;
    overflow: hidden;
    height: 100vh;
    width: 100vw;
}

.calendar-container {
    display: grid;
    align-items: center;
    vertical-align: center;
    justify-content: center;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.feedback {
    z-index: 100;
    position: absolute;
    left: 0;
    right: 0;
    height: 30px;
    padding: 10px;
    text-decoration: none;
    color: #eaeaea;
    font-size: 12px;
    font-weight: bold;
    text-align: center;
    background-image: linear-gradient(90deg, #e91fff, #390da0, #ca59ff);
    background-size: 400%;
    animation: gradient 10.5s ease infinite;
}

@media (max-width: 480px) {
    .feedback {
        font-size: 10px;
        bottom: 0;
    }
}

@keyframes gradient {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}
